@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Montserrat',sans-serif; */
/* font-family: 'Playfair Display',serif; */
/* font-family: 'Roboto',sans-serif; */

html {
    scroll-behavior: smooth;
}

:root {
    --red: #c77d6b;
    --brown: #6b502c;
}

img {
    max-width: 100%;
}


.container {
    width: 950px;
    margin: auto;
}

.container-fluid {
    max-width: 100%;
}

a li,
p,
div,
span {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 1;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    border-radius: 20px;
    background-color: var(--brown);
    color: #fff;
    padding: 10px 20px;
    transition: all .35s ease;
}


.btn:hover {
    background-color: transparent;
    color: #000;
    outline: 1px solid var(--brown);
}

/* ====navbar---start=== */
header {
    background-color: var(--red);
    padding: 1.5% 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li a {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    position: relative;
    transition: all .2s ease;
}

nav div:nth-child(2) li a:after,
nav div:nth-child(2) li a:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #ffffff90;
    transition: all .29s ease;
}

nav div:nth-child(2) li a:hover {
    color: #ffffff90;
}

nav div:nth-child(2) li a:after {
    left: 0;
    bottom: -10px;
}

nav div:nth-child(2) li a:before {
    right: 0;
    top: -10px;
}

nav div:nth-child(2) li a:hover:after,
nav div:nth-child(2) li a:hover:before {
    width: 100%;
}

nav div:nth-child(2) ul {
    display: flex;
    align-items: center;
}

nav div:nth-child(3) ul {
    display: flex;
    align-items: center;
}

nav div:nth-child(2) ul li:nth-child(2n+1) {
    padding: 0 40PX;
}

nav div:nth-child(3) ul li:nth-child(2) {
    padding: 0 20PX;
}

nav div:nth-child(3) ul li:nth-child(1):hover {
    animation: icon 2s linear infinite;
}

nav div:nth-child(3) ul li:nth-child(2):hover {
    animation: icon 2s linear infinite;
}

nav div:nth-child(3) ul li:nth-child(3):hover {
    transform: scale(1.1);
}

@keyframes icon {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

/* ====navbar---end=== */
/* ====banner---start=== */
main {
    background: url(../images/background.jpg);
    background-position: center;
}

main section:nth-child(1) {
    height: 100vh;
}

main section:nth-child(1) img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.banner-row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.banner-row div:nth-child(1) div:nth-child(1)>p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    color: var(--brown);
    font-size: 1.5rem;
    margin: 10px 0;
}

.banner-row div:nth-child(1) div .col {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.banner-row div:nth-child(1) div:first-child div:nth-child(4) {
    text-align: center;
    color: var(--brown);
    font-size: 1.2rem;
    margin: 20px 0 25px;
    font-weight: 300;
}

main section:first-child {
    position: relative;
}

.leaf-banner img:first-child {
    position: absolute;
    bottom: 5px;
    left: 0%;
 object-fit: initial;
    width: 170px;
    height: 170px;
}

.leaf-banner img:nth-child(2) {
    position: absolute;
    top: 10%;
    right: 52%;
    width: 120px;
    height: 120px;
}


/* ====banner---end===     */
/* ====score---starts=== */

main section:nth-child(2) {
    padding: 5% 0;
    background-image: linear-gradient(#523d1f, #81633a, #523d1f);
}

.score div div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score div div .col {
    display: inline-block;
    color: #fff;
}

.score div div .col h2 {
    text-align: center;

}

.score div div .col p {
    margin: 3% 0;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.score div div p:first-child {
    font-size: 30px;
    font-weight: 600;
}

/* ====score---end=== */
/* ====top=== product---start=== */
.top-product {
    height: 100vh;
    padding: 4% 0 0 0;
}

.top-product-center {
    text-align: center;
    margin: 0 0 50px 0;
}

.top-product-flex {
    display: flex;
}

.top-product-flex .col {
    margin: 0 2%;
    box-shadow: 0px 0px 0px 0px #cac7bf, 0px 0px 11px 2px #cac7bf;
    position: relative;
}

.top-product-flex .col div img {
    position: absolute;
    top: 54%;
    right: 3%;
    cursor: pointer;
}

.top-product-flex .col div img:hover {
    animation: beat 2s ease infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.top-product-flex h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
}

.top-product-flex p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: var(--brown);
    text-align: justify;
    margin: 10px 0;
}

.top-product-flex div div {
    padding: 30px 20px 20px 20px;
    background-color: #fff;
}

.top-product-btn {
    border-radius: 20px;
    background-color: var(--brown);
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    transition: all .35s ease;
}


.top-product-btn:hover {
    background-color: transparent;
    color: #000;
    outline: 1px solid var(--brown);
}


.top-product-center p {
    font-family: 'Montserrat', sans-serif;
    color: var(--brown);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.top-product-theme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-product-theme div {
    margin-top: 30px;
}

.top-product-theme div i {
    cursor: pointer;
    font-size: 30px;
    color: #523d1f;
    margin: 0 10px;
    transition: all .5s ease;
}

.top-product-theme div i:hover {
    font-weight: 800;
}

/* ====top=== product---end=== */
/* ====how-do---start=== */
.how-do {
    height: 100vh;
    padding: 4% 0 0 0;
    text-align: center;
    position: relative;
}

.how-do img:nth-child(2) {
    position: absolute;
    width: 8%;
    bottom: 50%;
    right: 0;
}

.how-do img:last-child {
    position: absolute;
    width: 10%;
    bottom: 5%;
    left: 0;
}

.iframe {
    position: relative;
}

.iframe iframe:first-child {
    position: relative;
    z-index: 1;
}

.iframe div:nth-child(2) {
    position: absolute;
    padding: 80px;
    background-color: var(--red);
    left: 18%;
    bottom: -6%;
}

.iframe div:nth-child(3) {
    position: absolute;
    padding: 100px 150px;
    background-color: transparent;
    outline: 3px solid var(--brown);
    right: 18%;
    top: -6%;
}

/* ====how-do---end=== */
/* ====special---start=== */
.special .row {
    display: flex;
    align-items: center;
    height: 365px;
}

.special .row .col:nth-child(1) {
    height: 365px;
    text-align: center;
    width: 50%;
    background-color: #ddc57c;
    padding: 66px 0 64px;
    position: relative;
}

.special .row .col:nth-child(1) p:nth-child(1) {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #fff;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: #424242;
    display: inline-block;
}

.special .row .col:nth-child(1) p:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 145px;
    line-height: 1;
    color: #424242;
    font-weight: 900;
}

.special .row .col:nth-child(1) p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #424242;
    font-weight: bold;
}

.special .row .col:nth-child(1) p:nth-child(4) {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #424242;
    font-weight: bold;
}

.special .row .col:nth-child(1) img:nth-child(5) {
    position: absolute;
    top: 35%;
    right: 10%;
}

.special .row .col:nth-child(1) img:nth-child(6) {
    position: absolute;
    top: 35%;
    left: 10%;
}

.special .row .col:nth-child(2) {
    width: 50%;
    height: 365px;
}

.special .row .col:nth-child(2) img {
    object-fit: cover;
    height: 365px;
    width: -webkit-fill-available;
}

/* ====special---end=== */
/* ====best-flower---start=== */
.best-flower {
    padding: 120px 0;
    position: relative;
}

.best-flower .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-flower .row .col:nth-child(1) img {
    width: 480px;
    position: relative;
    z-index: 1;
}

.best-flower .row .col:nth-child(1) {
    position: relative;
}

.best-flower .row .col:nth-child(1) div:nth-child(2) {
    position: absolute;
    background-color: transparent;
    padding: 80px 100px;
    outline: 3px solid var(--brown);
    left: -5%;
    bottom: -4%;
}

.best-flower .row .col:nth-child(1) div:nth-child(3) {
    position: absolute;
    background-color: var(--red);
    padding: 70px;
    right: -5%;
    top: -5.5%;
}

.best-flower .row .col:nth-child(2) p {
    color: var(--brown);
}

.best-flower .row .col:nth-child(2) p:nth-child(1) {
    margin-top: 25px;
}

.best-flower .row .col:nth-child(2) p:nth-child(3) {
    margin-bottom: 25px;
}

.best-flower div img:nth-child(2) {
    position: absolute;
    width: 150px;
    right: 0;
    bottom: 0;
}

/* ====best--flower---end=== */
/* ====take-care---start=== */
.take-care {
    padding: 120px 0;
    position: relative;
}

.take-care .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.take-care .row .col:nth-child(1) img {
    width: 480px;
    position: relative;
    z-index: 1;
}

.take-care .row .col:nth-child(1) {
    position: relative;
}

.take-care .row .col:nth-child(1) div:nth-child(2) {
    position: absolute;
    background-color: transparent;
    padding: 80px 100px;
    outline: 3px solid var(--brown);
    right: -5%;
    bottom: -4%;
}

.take-care .row .col:nth-child(1) div:nth-child(3) {
    position: absolute;
    background-color: var(--red);
    padding: 70px;
    left: -5%;
    top: -5.5%;
}

.take-care .row .col:nth-child(2) p {
    color: var(--brown);
}

.take-care .row .col:nth-child(2) p:nth-child(1) {
    margin-top: 25px;
}

.take-care .row .col:nth-child(2) p:nth-child(3) {
    margin-bottom: 25px;
}

.take-care div img:nth-child(2) {
    position: absolute;
    width: 120px;
    left: 0;
    bottom: 0;
}

/* ====take-care---end=== */
/* ====we-love---start=== */
.we-love {
    padding: 120px 0;
    position: relative;
}

.we-love .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.we-love .row .col:nth-child(1) img {
    width: 480px;
    position: relative;
    z-index: 1;
}

.we-love .row .col:nth-child(1) {
    position: relative;
}

.we-love .row .col:nth-child(1) div:nth-child(2) {
    position: absolute;
    background-color: transparent;
    padding: 80px 100px;
    outline: 3px solid var(--brown);
    left: -5%;
    bottom: -4%;
}

.we-love .row .col:nth-child(1) div:nth-child(3) {
    position: absolute;
    background-color: var(--red);
    padding: 70px;
    right: -5%;
    top: -5.5%;
}

.we-love .row .col:nth-child(2) p {
    color: var(--brown);
}

.we-love .row .col:nth-child(2) p:nth-child(1) {
    margin-top: 25px;
}

.we-love .row .col:nth-child(2) p:nth-child(3) {
    margin-bottom: 25px;
}

.we-love div img:nth-child(2) {
    position: absolute;
    width: 150px;
    right: 0;
    bottom: 0;
}

/* ====we-love---end=== */
/* ====subscribe---start=== */
.subscribe {
    padding: 50px 0;
}

.subscribe .row:first-child {
    text-align: center;
    padding: 50px 0 30px;
}

.subscribe .row .col:first-child p {
    padding: 20px 0 0px;
}

.subscribe .row:last-child {
    text-align: center;
}

.subscribe form input {
    width: 80%;
    height: 50px;
    background-color: #efefef;
    border: none;
    outline: 2px solid var(--brown);
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 0 0 5px;
    font-size: 18px;
}

textarea {
    width: 80%;
    background-color: #efefef;
    border: none;
    border-radius: 5px;
    outline: 2px solid var(--brown);
    margin: 10px 0;
    font-size: 18px;
}

.subscribe form input::placeholder {
    padding: 0 0 0 4px;
    font-size: 16px;
}

.subscribe form button {
    margin: 10px 0;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.subscribe form button {
    margin: auto;
}

/* ====subscribe---end=== */
/* ====footer---start=== */
footer {
    background-color: #424242;
    padding: 50px 0;
}

footer .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

footer h3 {
    font-size: 26px;
    padding: 0 0 25px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all .5s ease;
    margin: 5px 0;
}

footer a:hover {
    color: #999;
}

footer .icon {
    display: inline-block;
}


footer .icon i {
    background-color: transparent;
    outline: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 0 12px 0 0px;
    font-size: 18px;
}

footer .row .col:last-child img {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .row .col:last-child a:nth-child(2):hover,
footer .row .col:last-child a:nth-child(5):hover {
    color: #fff;
}

/* ====footer---end=== */
